<div class="breadcrumb-section set-bg" data-setbg="assets/images/breadcrumb.jpg"
  style="background-image: url('assets/images/breadcrumb.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h2>Blog</h2>
          <div class="breadcrumb__option">
            <a href="">Home</a>
            <span>- blog</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="blog-img">
          <img src="assets/images/news/new-1.jpg" alt="">
        </div>

        <div class="blog-content">
          <p>
            The outbreak of the disease again, is something that no one wants to happen, because there are so many bad
            things affecting your life every day. But look at this as an opportunity to readjust your habits <br><br>
            <b>1. Regularly drink fruit and vegetable juices</b> <br>
            Supplementing with vitamins, minerals and essential nutrients to build the body's immune system was something
            that few people cared about until the covid epidemic broke out. Take care of your body more proactively to
            prevent disease for yourself and your family. <br><br>
            <b>2. Exercise in moderation every day</b> <br>
            Boost your metabolism with exercise. In addition, it also helps limit health problems, helps the body stay
            healthy, provides energy, helps reduce stress. Besides, it can help you maintain a reasonable body weight and
            control your appetite. <br><br>
            <b>3. Spend more time with family</b><br>
            Time to spend more time with my family. Sometimes busy work makes us forget to take care and understand our
            family members, This is an opportunity to spend more time with loved ones, cook delicious meals for the
            family, together listen to the sharing so that everyone is connected. <br><br>
            <b>4. Improve knowledge about nutrition</b> <br>
            This is definitely the most necessary thing right now, Only by understanding the importance of nutrition to
            help protect the body will help us to act in the right way. Avoid pathogens that are pathogens, from your own
            lifestyle and activities every day. In other words, it is PREVENTION BETTER THAN curative.
          </p>
        </div>
        <div class="author">
          <div class="blog-date">
            <i class="fas fa-calendar"></i>
            4/20/2021
          </div>
          <div class="blog-author">
            <i class="fas fa-user"></i>
            Admin
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
