<!-- <app-header></app-header> -->
<div class="breadcrumb-section set-bg" data-setbg="assets/images/breadcrumb.jpg" style="background-image: url('assets/images/breadcrumb.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h2>Shop</h2>
          <div class="breadcrumb__option">
            <a href="">Home</a>
            <span>- Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-product__detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="product-detail__img">
          <img src="assets/images/product/details/product-details-1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product-detail__text">
          <h3>Vetgetable's Package</h3>
          <h4> $50.00 </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates id, quibusdam eum explicabo quaerat odio neque, accusamus esse molestiae voluptatem ipsam nemo! Nihil non laudantium eius voluptatum atque aut illo.</p>
          <div class="product-detail__quantity">
            <div class="quantity">
              <div class="pro-qty">
                <span class="dec qtybtn">-</span>
                <input type="text" value="1">
                <span class="dec qtybtn">+</span>
              </div>
            </div>
          </div>
          <a href="" class="primary-btn">ADD TO CART</a>
          <ul>
            <li>
              <b>Availability</b>
              <span>In Stock</span>
            </li>
            <li>
              <b>Shipping</b>
              <span>01 day shipping.</span>
            </li>
            <li>
              <b>Weight</b>
              <span>0.5 kg</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-product__info">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="product-des">
          <div class="product-des__title">
            <h5>Description</h5>
          </div>
          <div class="product-des__text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolorum nostrum, consectetur minima delectus aliquam aliquid facilis illo, doloremque nisi molestias neque autem in sequi ad perspiciatis ea repudiandae consequatur.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum earum explicabo iure accusantium. Consequatur dignissimos quibusdam sed iusto minus ab eligendi accusantium laudantium quos quo, voluptatibus cumque ipsa. Accusantium, maxime?</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product-related">
          <div class="product-related__title">
            <h5>Related Product</h5>
          </div>
          <div class="product-related__img">
            <a><img src="assets/images/product/product-1.jpg" alt=""></a>
            <a><img src="assets/images/product/product-2.jpg" alt=""></a>
            <a><img src="assets/images/product/product-3.jpg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-reviews">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="reviews-title">
          <h4>Review</h4>
        </div>
        <form action="" class="reviews-form">
          <textarea class="message-col-12" name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
          <a href="" class="primary-btn">FEED BACK</a>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->
