<!-- <app-header></app-header> -->
<div class="breadcrumb-section set-bg" data-setbg="assets/images/breadcrumb.jpg"
  style="background-image: url('assets/images/breadcrumb.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h2>Blog</h2>
          <div class="breadcrumb__option">
            <a href="">Home</a>
            <span>- blog</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="blog-sidebar">
          <div class="blog-sidebar__item">
            <h4>Categories</h4>
            <ul>
              <li><a href="">All</a></li>
              <li><a href="">Fresh Meat</a></li>
              <li><a href="">Vegetables</a></li>
              <li><a href="">Fast Food</a></li>
              <li><a href="">Fresh Onion</a></li>
              <li><a href="">Oatmeal</a></li>
            </ul>
          </div>
          <div class="blog-sidebar__item">
            <h4>Recent blog</h4>
            <a href="" class="blog-sidebar__recent__item">
              <div class="blog-sidebar__recent__item__pic">
                <img src="assets/images/news/sidebar/sr-1.jpg" alt="">
              </div>
              <div class="blog-sidebar__recent__item__text">
                <h6>09 Kinds Of Vegetables Protect The Liver</h6>
                <span>mar 05, 2020</span>
              </div>
            </a>
            <a href="" class="blog-sidebar__recent__item">
              <div class="blog-sidebar__recent__item__pic">
                <img src="assets/images/news/sidebar/sr-2.jpg" alt="">
              </div>
              <div class="blog-sidebar__recent__item__text">
                <h6>09 Kinds Of Vegetables Protect The Liver</h6>
                <span>mar 05, 2020</span>
              </div>
            </a>
            <a href="" class="blog-sidebar__recent__item">
              <div class="blog-sidebar__recent__item__pic">
                <img src="assets/images/news/sidebar/sr-3.jpg" alt="">
              </div>
              <div class="blog-sidebar__recent__item__text">
                <h6>09 Kinds Of Vegetables Protect The Liver</h6>
                <span>mar 05, 2020</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-6">
            <div class="blog-item">
              <div class="blog-item__pic">
               <a [routerLink]="['blog-detail']"><img src="assets/images/news/new-1.jpg"></a>
              </div>
              <div class="blog-item__content">
                <ul>
                  <li><i class="fas fa-calendar"></i> 4/20/2021</li>
                  <li><i class="fas fa-user"></i> Admin</li>
                </ul>
                <h5><a [routerLink]="['blog-detail']" >What should i do when the evidence is back?</a></h5>
                <p> The epidemic broke out again, which certainly no one wants to happen,...</p>
                <a [routerLink]="['blog-detail']" class="blog__button">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="blog-item">
              <div class="blog-item__pic">
                <img src="assets/images/news/new-2.jpg">
              </div>
              <div class="blog-item__content">
                <ul>
                  <li><i class="fas fa-calendar"></i> 4/20/2021</li>
                  <li><i class="fas fa-user"></i> Admin</li>
                </ul>
                <h5><a href="">Why should you keep the peel of Orange/Mandarin?</a></h5>
                <p> You won't throw away citrus peels anymore knowing they have great health benefits and...</p>
                <a href="" class="blog__button">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="product-pagination">
              <a href="">1</a>
              <a href="">2</a>
              <a href="">3</a>
              <a href="">
                <i class="fas fa-long-arrow-alt-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- <app-footer></app-footer> -->
